.Weather {
  font-family: arial, sans-serif;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin-top: 30px;
}

.Weather .form-control {
  border-radius: 20px;
  border-width: 0px;
  padding: 5px 15px;
  box-shadow: 0 7px 12px 7px rgb(161, 161, 161, 20%);
}

.Weather .btn {
  border-radius: 30px;
  background-color: #407ed6;
  border-width: 0px;
  padding: 5px 25px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 30px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0 0 30px 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 300;
  color: rgb(33, 33, 33);
  font-size: 64px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .float-left {
  float: left;
}
