.WeatherForecast {
  text-align: center;
}

.WeatherForecast .WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast .WeatherForecast-temperature-max {
  opacity: 0.9;
}
